<p>
  The follwing list displays contents that have already synced with the global
  database and have their data uploaded.
</p>
<table class="generaltable">
  <thead>
    <tr>
      <th class="header c0 pluginname" scope="col">Content Name</th>
      <th class="header c1 version" scope="col">Content Code</th>
      <th class="header c2 availability" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#contents}}
    <tr class="type-local name-local_adminer status-uptodate extension">
      <td class="pluginname cell c0">
        <div class="displayname">
          <a href="{{ content_url }}?id={{ id }}">
            {{ content_name }}
          </a>
        </div>
      </td>
      <td class="version cell c1">
        <div class="displayname">{{ content_code }}</div>
      </td>
      <td class="uninstall cell c4">
        <div class="displayname">
          {{ description }}
        </div>
      </td>
    </tr>
    {{/contents}}
  </tbody>
</table>
