<p>
  The follwing list displays courses that have already synced with the global
  database and have their metadata added.
</p>
<table class="generaltable">
  <thead>
    <tr>
      <th class="header c0 pluginname" scope="col">Course Name</th>
      <th class="header c1 version" scope="col">Course Code</th>
      <th class="header c2 availability" scope="col">Category</th>
      <th class="header c3 settings" colspan="2" scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    {{#courses}}
    <tr class="type-local name-local_adminer status-uptodate extension">
      <td class="pluginname cell c0">
        <div class="displayname">
          <a href="{{ course_url }}?id={{ id }}">
            {{ course_name }}({{ course_code }})
          </a>
        </div>
      </td>
      <td class="version cell c1">
        <div class="displayname">{{ course_code }}</div>
      </td>
      <td class="uninstall cell c4">
        <div class="displayname">
          {{ course_category }}
        </div>
      </td>
      <td>
        <div class="displayname">
          {{ course_type }}
        </div>
      </td>
    </tr>
    {{/courses}}
  </tbody>
</table>
