<p>
  The following page allows you to manage and navigate different aspects of the
  teal integrations of your moodle server. To import or export new courses click
  the appropriate button and change the settings of your plugin through the
  fields offered below.
</p>
<hr />
<div>
  <a class="btn btn-primary" href="{{ import_url }}">Import Course</a>
  <a class="btn btn-primary" href="{{ export_url }}" style="margin-left: 4px">
    Export Course
  </a>
  <a
    class="btn btn-primary"
    href="{{ import_content_url }}"
    style="margin-left: 4px"
  >
    Import Content
  </a>
  <a
    class="btn btn-primary"
    href="{{ export_content_url }}"
    style="margin-left: 4px"
  >
    Export Content
  </a>
  <a
    class="btn btn-primary"
    href="{{ create_program_url }}"
    style="margin-left: 4px"
  >
    Create Program
  </a>
  <a
    class="btn btn-info float-sm-right float-right"
    href="{{ courses_url }}"
    style="margin-left: 4px"
  >
    Courses
  </a>
  <a
    class="btn btn-info float-sm-right float-right"
    href="{{ contents_url }}"
    style="margin-left: 4px"
  >
    Contents
  </a>
  <a
    class="btn btn-info float-sm-right float-right"
    href="{{ programs_url }}"
    style="margin-left: 4px"
  >
    Programs
  </a>
</div>
<br />
